# Testing queries
## Basic select(*) queries
<img width="712" height="795" alt="image" src="https://github.com/user-attachments/assets/60b20d71-f1c6-4fa6-9b53-fa9536125565" />

<img width="923" height="791" alt="image" src="https://github.com/user-attachments/assets/708be9b5-a12b-4f0a-85d0-11f8df6cbd9f" />

<img width="681" height="792" alt="image" src="https://github.com/user-attachments/assets/3f29d2db-7bf3-4b4a-b699-065f2b2a40d0" />

## Join multiple tables queries
### Learner Progress with Details
<img width="681" height="792" alt="image" src="https://github.com/user-attachments/assets/91f201f6-c583-4545-98ac-c530522a67a2" />

### Learners Without Progress
<img width="1025" height="794" alt="image" src="https://github.com/user-attachments/assets/11f72ee3-c1a6-488b-be6a-8e8c0836127f" />

## AGGREGATION QUERIES
### Average Score by Language
<img width="928" height="635" alt="image" src="https://github.com/user-attachments/assets/e88287d4-c0cc-4b54-b1cc-9b910183c241" />

### Learner Performance Summary
<img width="714" height="767" alt="image" src="https://github.com/user-attachments/assets/6558a780-bed5-45b5-83e1-c5f9abb4b76b" />

### Top Performers (Above Average)
<img width="720" height="784" alt="image" src="https://github.com/user-attachments/assets/dbbca30e-f300-4204-88da-fb4372e19fa8" />

### Most Challenging Modules (Lowest Avg Score)
<img width="720" height="784" alt="image" src="https://github.com/user-attachments/assets/39e2a49f-685a-4b77-803c-2ae1695c3ee2" />
